header: |
    Thank you for posting to /r/foobar. Unfortunately, your submission has been removed for the following reason:

footer: |
    If you have any questions about this removal, please [message the moderators.](https://www.reddit.com/message/compose?to=%2Fr%2Ffoobar)

rules:
    "1": |
        **Be nice**

        Seriously, can"t you just be nice?

    "2": |
        ** Do not enable piracy**

        ARRRRR, no piracy in these waters please. 
    
    "3": |
        **Dank memes only**

        We only accept the best

    "4": |
        **No duplicate posts**

        We don"t want to see the same old boring content in here

    "5": |
        **No NSFW Content**

        I browse this subreddit at work, I"d like to keep my job please. 
